* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: auto;
  background-color: #2497ee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;  
  align-items: center;    
  background-color: #067fdc;  
}

main {
  width: 98%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;  
  padding: 1rem;
}



footer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;  
  background-color: #067fdc;
}








footer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #067fdc;
}



